.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: #2E3440;
  color: #ECEFF4;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin: 10px 0 0 0;
  height: 38px;
}

.NavBar a {
  color:#ECEFF4;
}

.NavBar ul {
  display: flex;
  margin: 10px 0;
  padding: 0;
}

.nav-search, .nav-button {
  text-align: center;
  flex: 1;
}

.nav-user-watchlist {
  text-align: center;
  flex: 2;
}

li {
  list-style: none;
}

.log_button {
  background: none;
  border: none;
  padding: 0;
  color: #ECEFF4;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 16px;
}

@media screen and (min-width:800px) {
  h1 {
    text-align: left;
    float: left;
    margin-top: 22px;
  }
  
  .title-container {
    margin-left: 25px;
  }

  nav {
    margin-top: 21px;
    float: right;
    width: 400px;
  }

  .NavBar {

    height: 80px;
  }

  
}