html {
  font-family: arial, sans-serif;
  color: #2E3440;
  
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 96px;
  padding: 10px 20px;
}

body::-webkit-scrollbar {
  display: none;
}

section a:visited {
  color: #2E3440;
}

section a {
  color: #2E3440
}

a {
  text-decoration: none;
}

@media screen and (min-width:800px) {
  body {
    margin-top: 90px;
  } 
}